/node_modules
#/public/build
#/public/hot
#/public/storage
/storage/*.key
#/vendor
#.env
#.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vs/Colloquium/FileContentIndex/ef23626a-fc1d-4c51-bcf7-2110b3430e0c.vsidx
/.vs/Colloquium/FileContentIndex/d9a477d5-6a1a-4ff8-b123-3792c7e0ca5e.vsidx
/.vs/Colloquium/FileContentIndex/6a42e368-7b3a-40d7-b615-34207d87ea00.vsidx
/.vs/Colloquium/FileContentIndex/481f06f1-6a5a-4938-8cd4-61c3def44258.vsidx
/.vs/Colloquium/FileContentIndex/35a991ef-056e-4e9e-9888-82e98ba3f11e.vsidx
/.vs/Colloquium/FileContentIndex/2384ba95-1c78-4efb-a4d1-4e2ba6879ffd.vsidx
/.vs/Colloquium/FileContentIndex/f9807e03-1d0f-4f00-96e5-eda4bda4839c.vsidx
/.vs/Colloquium/FileContentIndex/39abe293-6ded-4816-9012-3aa29745c712.vsidx
